/* [project]/dev/roadbacks/app/globals.css [app-client] (css) */
:root {
  --clr-primary-1: #044e53;
  --clr-primary-2: #0a6c75;
  --clr-primary-3: #0e7c86;
  --clr-primary-4: #149199;
  --clr-primary-5: #2caeba;
  --clr-primary-6: #37bcc8;
  --clr-primary-7: #52d1da;
  --clr-primary-8: #88ebf2;
  --clr-primary-9: #bff8fd;
  --clr-primary-10: #e0fcff;
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all .3s linear;
  --spacing: .25rem;
  --radius: .5rem;
  --light-shadow: 0 5px 15px #0000001a;
  --dark-shadow: 0 5px 15px #0003;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-white);
  color: var(--clr-grey-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  margin-bottom: .75rem;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: .875rem;
}

p {
  color: var(--clr-grey-5);
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4, body {
    font-size: 1rem;
  }

  h1, h2, h3, h4 {
    line-height: 1;
  }
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  transition: var(--transition);
  cursor: pointer;
  border: 2px solid #0000;
  padding: .375rem .75rem;
  font-size: .875rem;
  display: inline-block;
  box-shadow: 0 1px 3px #0003;
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.section {
  padding: 5rem 0;
  scroll-margin-top: 4rem;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

.section-title span {
  color: var(--clr-primary-5);
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.hero {
  background: var(--clr-primary-5);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}

.hero-banner h1 {
  text-transform: uppercase;
}

.hero-banner p {
  max-width: 35rem;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  background: var(--clr-white);
  color: var(--clr-primary-5);
  padding: .9rem 1.6rem;
  font-size: 1.25rem;
}

.hero-btn:hover {
  color: var(--clr-white);
  border-color: var(--clr-white);
  background: none;
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(#2caebab3, #000000b3), url("/images/main.jpeg") center / cover no-repeat;
  }

  .hero-banner {
    padding: 0;
  }

  .hero-banner p {
    max-width: 45rem;
  }
}

.about-img, .about-info {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    display: grid;
  }

  .about-img, .about-info {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1170px) {
  .about-img:before {
    content: "";
    border: .5rem solid var(--clr-primary-5);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
  }

  .about-img, .about-photo {
    position: relative;
  }
}

.services {
  background: var(--clr-grey-10);
}

.service {
  text-align: center;
  margin-bottom: 3rem;
}

.service-icon {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  padding: .5rem;
  font-size: 2rem;
  display: inline-block;
}

.service-text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .services-center {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    display: grid;
  }

  .service {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1170px) {
  .service {
    text-align: left;
    display: flex;
  }

  .service-icon {
    align-self: start;
  }

  .service-info {
    padding-left: 1rem;
  }

  .service-title {
    margin-bottom: .5rem;
  }
}

.tour-card {
  transition: var(--transition);
  background: var(--clr-grey-10);
  margin-bottom: 2rem;
  box-shadow: 0 5px 15px #0000001a;
}

.tour-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px #0003;
}

.tour-img-container {
  position: relative;
}

.tour-img {
  object-fit: cover;
  height: 15rem;
}

.tour-date {
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  text-transform: capitalize;
  margin-bottom: 0;
  padding: .25rem .5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tour-info {
  padding: 1.25rem 1.5rem;
}

.tour-title {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.tour-title p, .tour-title h4 {
  margin-bottom: .75rem;
  line-height: 1.25;
}

.tour-title p {
  color: var(--clr-grey-7);
}

.tour-footer {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.tour-footer p {
  text-transform: capitalize;
  color: var(--clr-primary-5);
  line-height: 0;
}

.tour-footer p span {
  margin-right: .25rem;
}

.tour-btn {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .featured-center {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    display: grid;
  }
}

@media screen and (min-width: 1170px) {
  .featured-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer {
  background: var(--clr-grey-1);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-links, .footer-icons {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
  display: flex;
}

.footer-link {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  margin-right: 1rem;
  font-size: 1rem;
}

.footer-link:hover {
  color: var(--clr-primary-5);
}

.footer-icon {
  color: var(--clr-white);
  transition: var(--transition);
  margin-right: 1rem;
  font-size: 2rem;
}

.footer-icon:hover {
  color: var(--clr-primary-5);
}

.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
}

.copyright span {
  margin-left: .5rem;
}

.navbar {
  background: var(--clr-white);
  width: 100%;
  box-shadow: var(--dark-shadow);
  z-index: 2;
  align-items: center;
  height: 4rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-icons {
  display: none;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-toggle {
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-link {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-grey-1);
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  display: block;
}

.nav-link:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  padding-left: 2.25rem;
}

.nav-links {
  height: 0;
  transition: var(--transition);
  overflow: hidden;
}

.show-links {
  height: 280px;
}

@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }

  .nav-links {
    height: auto;
    display: flex;
  }

  .nav-center {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .nav-header, .nav-link {
    padding: 0;
  }

  .nav-link:hover {
    color: var(--clr-primary-5);
    background: none;
    padding: 0;
  }

  .nav-icons {
    display: flex;
  }

  .nav-link {
    margin-right: .7rem;
  }

  .nav-icon {
    color: var(--clr-primary-5);
    transition: var(--transition);
    margin-right: .7rem;
    font-size: 1.2rem;
  }

  .nav-icon:hover {
    color: var(--clr-primary-8);
  }
}

/*# sourceMappingURL=dev_roadbacks_app_globals_15916ccb.css.map*/